.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.text-primary{
  color: #4E47FF;
}

.text-center{
  text-align: center;
}

/* header */
.header{
  background-image: url("Assets/Hero-bg.png");
  background-image: no-repeat;
  background-position: top left;
}

/* Logo text */
.logo {
  color: #4E47FF;
  font-size: 34px;
  font-weight: bold;
}

/* Sign Up button */
.btn-primary {
  background:#4E47FF; /* Example bright color */
  color: #fff;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.signup-btn:hover {
  
}

/* Nav styles */
nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  padding: 50px 0;
}

/* Banner styles */
.banner{
  /* margin: 309px 267.5px 152px 200px; */
  /* margin-bottom: 152px; */
  padding: 158px 267.5px 152px 267.5px;
  text-align: center;
}

.banner-description{
  font-size: 65px;
  font-weight: bold;
}

/* action styles */
.action{
  margin: 116px 159px 116px 141px;
  display: flex;
  justify-content: space-between;
}

.action-title{
  font-size: 42px;
  font-weight: bold;
}

.action-description{
  font-size: 24px;
  color: #252432;
}

.action-profile-picture{
  border-radius: 48px;
}

/* user styles */
.users{
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
  padding: 50px 80px;
  border-radius: 24px;
}

.users-title{
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 50px;
}

.users-items{
  display: flex;
  justify-content: space-around;
}

.item{
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 0px;
}

.description{
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin: 0px;
}

.feedbacks-container{
  display: flex;
}

.star-container{
  display: flex;
}

/* main styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}

main section{
  margin-top: 130px;
  margin-bottom: 130px;
}

.feedback {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06),
                inset 0 0 0 2px #F2EDED; 
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 14px;
}


.feedback-user-profile{
  display: flex;
  align-items: center;
}

.feedback-user-profile img{
  width: 40px;
  height: 40px;
  object-fit: cover;   
  border-radius: 50%;  
  margin-right: 15px;
}

.feedback-user-profile p{  
  margin: 0;
}

.ready{
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  border-radius: 24px;
}

.ready-picture{
  margin-top: 50px;
  border-radius: 48px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F8FF;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.contact-text h1 {
  font-size: 97px;
  font-weight: bold;
  margin: 0;
}

.contact-form {
  max-width: 400px;
  width: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 18px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.contact-form button {
  padding: 15px;
  background-color: #4E47FF;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.footer {
  width: 100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center;
  padding: 100px 10px;
  background-color: #fff;
}

.footer .logo {
  font-size: 100px;
  font-weight: bold;
  color: #4E47FF; 
  margin-bottom: 8px;
}

.footer-text {
  max-width: 600px;
  margin: 0 auto 20px;
  color: #777;
  font-size: 14px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
}

.footer-nav a {
  text-decoration: none;
  color: #8987A1;
  font-size: 14px;
}

button, .btn-primary {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover, .btn-primary:hover {
  background-color: #3b35cc; 
  color: #ffffff; 
}
