.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.text-primary{
  color: #4E47FF;
}

/* header */
.header{
  background-image: url("Assets/Hero-bg.png");
  background-image: no-repeat;
  background-position: top left;
}

/* Logo text */
.logo {
  color: #4E47FF;
  font-size: 34px;
  font-weight: bold;
}

/* Sign Up button */
.btn-primary {
  background:#4E47FF; /* Example bright color */
  color: #fff;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.signup-btn:hover {
  
}

/* Nav styles */
nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  padding: 50px 0;
}

/* Banner styles */
.banner{
  /* margin: 309px 267.5px 152px 200px; */
  /* margin-bottom: 152px; */
  padding: 158px 267.5px 152px 267.5px;
  text-align: center;
}

.banner-description{
  font-size: 65px;
  font-weight: bold;
}

/* action styles */
.action{
  margin: 116px 159px 116px 141px;
  display: flex;
  justify-content: space-between;
}

.action-title{
  font-size: 42px;
  font-weight: bold;
}

.action-description{
  font-size: 24px;
  color: #252432;
}

.action-profile-picture{
  border-radius: 48px;
}

/* main styles */
main{

}